<div class="Layout container">
    <div class="Layout__Container">
        <app-nav></app-nav>
        <div class="Layout__Main">
            <app-navigation *ngIf="this.router.url !== '/landing' && this.router.url !== '/my'"></app-navigation>
            <div class="Layout__Page" [ngStyle]="{ 'overflow': this.disabledScroll? 'hidden':'auto'}">
                <ng-content></ng-content>
            </div>

        </div>
    </div>
</div>
<app-overlay></app-overlay>
<app-foot-overlay></app-foot-overlay>