@import "style";
.Layout {
    width: 100vw;
    height: 100vh;
    &__Container {
        @include column();
        height: 100%;
    }
    &__Main {
        @include row();
        width: 100%;
        height: 100%;
    }
    &__Page {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}