<div class="My">
    <div class="My__Container">
        <div class="My__Navigation">
            <div>
                <img src="../../../../assets/img/userimg.png" alt="">
                <span>驗證個人身份</span>
                <span>立即驗證個人身份<br>
                    啟用ＰＴＴ完整功能
                </span>
                <button>立即驗證</button>
            </div>
            <div>
                <button>
                    <i class="fa fa-bookmark"></i>
                    我的收藏
                </button>
            </div>


        </div>
        <div class="My__Pages">

        </div>

    </div>
</div>