<div class="AllTopics">
    <div class="AllTopics__Container">
        <div>
            <span>全部看板</span>
            <button (click)="this.openMenu()">看板<i class="fa fa-caret-down"></i></button>
            <ul [ngClass]='{"open-menu":this.menu}'>
                <li></li>
                <li>看板</li>
                <li>國版</li>
            </ul>
            <ul>
                <li>
                    <span></span>
                    <span>感情</span>
                </li>
                <li>
                    追蹤
                </li>
            </ul>
        </div>
    </div>
</div>