@import "../../../styles/color";
@import "../../../styles/mixin";

.Overlay {
    @include column-a-center;
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.7);

    &__Container {
        position: relative;
        width: 728px;
        height: 100%;
        background-color: #fff;
        overflow: auto;
        & > button {
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 20px;
            background-color:inherit;
            border: none;
            
            &  > i {
                color: rgb(189, 189, 189);
                font-weight: 200;
                font-size: 23px;
            }
        }

    }
    
}



