<div class="Overlay" *ngIf="this.$overlay.isArticle">
    <div class="Overlay__Container">
        <span>
            <app-article-next></app-article-next>
        </span>
        <span>
            <span (mouseover)="this.$overlay.articleNextLeftIn()" (mouseout)="this.$overlay.articleNextLeftOut()">
                <i class="fa fa-chevron-left"></i>
            </span>

        <div>
            <app-article-content></app-article-content>
        </div>
        <span (mouseover)="this.$overlay.articleNextLeftOut()" (mouseout)="this.$overlay.articleNextLeftIn()">
                <i class="fa fa-chevron-right"> </i>
            </span>
        </span>

    </div>

</div>