<div class="Layout">
    <div class="Layout__Container">
        <app-foot-overlay></app-foot-overlay>
        <app-login-overlay></app-login-overlay>
        <app-overlay></app-overlay>

        <app-nav></app-nav>
        <div class="Layout__Main">

            <app-navigation *ngIf="this.router.url !== '/register'"></app-navigation>

            <div [ngStyle]="{ 'overflow': this.disabledScroll? 'hidden':'auto'}" class="Layout__Page">
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
</div>