// NavBar
$layout1 : rgb(55, 164, 214);
// 搜尋框
$layout2 : rgb(32, 148, 202); 
// 背景
$layout3 : rgb(21, 66, 102);

// 字
$black-font : rgb(46, 46, 46);
$grey1 : #929292;

// 物件
$navigation-hover : rgb(64, 87, 143);