@import "style";
.FootOverlay {
    position: fixed;
    @include row();
    bottom: 0;
    z-index: 100;
    width: 100%;
    &__Container {
        @include row-a-center();
        justify-content: center;
        width: 100%;
        height: 132px;
        background-color: rgba(36, 40, 45, 0.95);
        &>img {
            width: 60px;
            height: 60px;
            margin: 0 16px 0 0;
            border-radius: 50%;
            background-color: rgb(51, 151, 207);
        }
        &>span {
            @include column();
            justify-content: flex-start;
            &>span:first-child {
                font-size: 20px;
                color: rgb(255, 255, 255);
            }
            &>span:nth-child(2) {
                font-size: 16px;
                color: rgb(255, 255, 255);
                margin-top: 11px;
            }
        }
        &>ul {
            @include column-a-center();
            list-style: none;
            margin: 10px 0 0 10px;
            &>li:first-child {
                cursor: pointer;
                @include row-a-center();
                justify-content: center;
                width: 56px;
                height: 36px;
                color: rgb(255, 255, 255);
                font-size: 14px;
                background-color: rgb(51, 151, 207);
                border-radius: 8px;
                &:hover {
                    background-color: rgb(106, 185, 231);
                    transition: 1s;
                }
            }
            &>li:nth-child(2) {
                cursor: pointer;
                @include row-a-center();
                justify-content: center;
                width: 44px;
                height: 36px;
                color: rgb(51, 151, 207);
                font-size: 14px;
                margin-top: 8px;
                &:hover {
                    color: rgb(106, 185, 231);
                }
            }
        }
    }
}