<div class="Register">
    <div class="Register__Container">
        <div>
            <img src="../../../assets/img/idea.svg" alt="">
            <span>年輕人都在 PPT 上討論</span>
            <span>
                <span>不想錯過任何有趣的話題嗎？</span>
            <span>趕快加入我們吧！</span>
            </span>
            <h3 (click)="this.toPage('article')">先看討論區</h3>
        </div>
        <div>
            <div class="Register__list">
                <span>開始使用</span>
                <button class="Register__Fb">
                    <img src="../../../assets/img/Facebook_icon_2013.svg.png" alt="">
                    <span>使用 Facebook 註冊 / 登入</span>
                </button>
                <button class="Register__Google">
                    <img src="https://img.icons8.com/color/48/000000/google-logo.png" />
                    <span>使用 Google 註冊 / 登入</span>
                </button>
                <!-- 中線 -->
                <div class="Register__Line">
                    <span></span><span>或</span><span></span>
                </div>
                <div class="Register__Input">
                    <span>常用信箱</span>
                    <input (blur)='this.emailValidation($event.target.value)' [(ngModel)]='this.params.email' (ngModelChange)='this.emailValidation($event)' type="text" placeholder="輸入信箱">
                    <span *ngIf='this.emailWarn'>{{this.emailWarn}}</span>
                </div>
                <div class="Register__Input">
                    <span>密碼</span>
                    <input (blur)='this.passwordValidation($event.target.value)' [(ngModel)]='this.params.password' (ngModelChange)="this.passwordValidation($event)" type="{{this.inputType? 'text': 'password'}}" placeholder="輸入密碼">
                    <span *ngIf='this.passwordWarn'>{{this.passwordWarn}}</span>
                </div>
                <div>
                    <div class="Register__Check">
                        <input (click)='this.inputType =!this.inputType' type="checkbox">
                        <span>顯示密碼</span>
                        <!-- <label for="checkbox3"></label> -->
                    </div>
                    <span class="Register__Question">
                        <a>未收到驗證信</a>
                        <span> 或 </span>
                    <a>忘記密碼</a>
                    </span>
                </div>
                <button class="Register__LoginButtonOff">註冊 / 登入</button>
                <button class="Register__LoginButtonOn">註冊 / 登入</button>
                <div class="Register__Agreement">
                    <span>註冊/登入即代表您同意遵守</span>
                    <a>Dcard 使用協議</a>
                </div>
            </div>
        </div>
    </div>
</div>