@import "style";
.Overlay {
    @include column-a-center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.7);
    &__Container {
        width: 100%;
        height: 100%;
        &>span {
            position: relative;
            @include row-a-center;
            justify-content: center;
            width: 100%;
            height: 100%;
            &>div {
                position: relative;
                max-width: 728px;
                min-width: 728px;
                height: 100%;
                background-color: #fff;
                overflow: hidden;
            }
            &>span:nth-child(3) {
                cursor: pointer;
                @include column-a-center();
                justify-content: center;
                position: relative;
                z-index: 22;
                height: 160px;
                width: 90px;
                color: rgb(46, 175, 111);
                &>i {
                    color: rgb(243, 243, 243);
                    font-size: 60px;
                    opacity: 0.8;
                }
            }
        }
    }
    &>span:first-child {
        cursor: pointer;
        position: relative;
        z-index: 22;
        @include column-a-center();
        height: 75px;
        width: 75px;
        padding: 45px 0;
        &>i {
            color: rgb(255, 255, 255);
            font-size: 60px;
            opacity: 0.8;
        }
    }
    &__preView {
        position: absolute;
        z-index: 21;
        opacity: 1;
    }
}