@import './styles/style';

/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    -webkit-font-smoothing: 2rem;
    background-color: $layout3;
}

a {
    text-decoration: none;
}