@import "style";
.ArticleOverlay {
    width: 100%;
    height: 100%;
    &__Container {
        @include row-a-center();
        width: 100%;
        height: 100%;
    }
    &__LastArticle {
        cursor: pointer;
        position: relative;
        z-index: 22;
        @include column-a-center();
        height: 75px;
        width: 75px;
        padding: 45px 0;
        &>i {
            color: rgb(255, 255, 255);
            font-size: 60px;
            opacity: 0.8;
        }
    }
    &__RightArticle {
        cursor: pointer;
        position: relative;
        z-index: 22;
        @include column-a-center();
        height: 75px;
        width: 75px;
        padding: 45px 0;
        &>i {
            color: rgb(255, 255, 255);
            font-size: 60px;
            opacity: 0.8;
        }
    }
    &__Preview {
        position: absolute;
        z-index: 21;
        opacity: 1;
    }
}